.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}


.gallery li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
}

.gallery li img {
    width: 100%;
    aspect-ratio: 1 / 1;

    object-fit: cover;

    display: block;
}